.boxedit{
    position: absolute;
    width: 1440px;
    height: 870px;
    opacity: 0.6;
    background-color: #FFFFFF;
}
.boxedit1{
    position: absolute;
    width: 445px;
    height: 527px;
    box-shadow: 4px 4px 24px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 150px;
}
.edit{
    position: absolute;
    width: 143px;
    height: 29px;
    font-weight: bold;
    font-size: 24px;
    color:#000000;
    margin-left: 20px;
    margin-top: 10px;
}
#garisedit{
    margin-top: 60px;
}
#a32{
    position: absolute;
    width: 36px;
    height:36px;
    margin-left: 220px;
}
#a33{
    position: absolute;
    width: 102px;
    height: 106px;
    margin-left: 30px;
}
.ubahfoto{
    position: absolute;
    width: 155px;
    height: 31px;
    background-color: #F0F7FF;
    border-radius: 6px;
    margin-left: 200px;
    margin-top: 30px;
}
.ubah{
    width: 155px;
    height: 13px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    padding-top: 10px;
    text-align: center;
    color: #F36E39;
}

.namaprofil{
    width: 396px;
    height: 48px;
    margin-top:140px;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #FFFFFF;
}
.nama{
    width: 88px;
    height: 26px;
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 187.4%;
    padding-left: 20px;
    padding-top: 10px;
    color: #203758;
   
}
.deskripsi{
    width: 396px;
    height: 166px;
    border: 0.5px solid #788292;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #F1F2F6;
}
.penjelasan{
    width: 65px;
    height: 26px;
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 187.4%;
    margin-left: 20px;
}
.btn{
    position: absolute;
    width: 225px;
    height: 52px;
    border-radius: 10px;
    background-color: #F36E39;
    margin-top: 350px;
    left: 100px;
    color: #FFFFFF;
}
