.kotak2{
    box-sizing: border-box;
    box-shadow: 4px 4px 24px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: absolute;
    width: 445px;
    height: 445px;
    margin-left: 300px;
    margin-top: 123px;
}
.pos{
    position: absolute;
    width: 190px;
    height: 29px;
    margin-left: -10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    font-family:  Montserrat sans-serif;
    color: #000000;
}
#a12{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 250px;
    margin-top: 1px;
}
hr{
    margin-top: 60px;
}
.ide{
    position: absolute;
    width: 332px;
    height: 21px;
    margin-left: -5px;
    color: #788292;
    font-family: Montserrat sans-serif;
    font-size: 17px;
    font-weight: 500;
}
.kotak3{
    box-sizing: border-box;
    border-radius: 10px;
    border: 0.5px solid #788292;
    position: absolute;
    width: 350px;
    height: 56px;
    margin-left: 30px;
    margin-top: 180px;
}
.gambar{
    position: absolute;
    width: 145px;
    height: 26px;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    line-height: 187.4%;
    color: #203758;
}
#a13{
    position: absolute;
    width: 36px;
    height: 36px;
    margin-top: -10px;
    margin-left: 140px;
}
button{
    position: absolute;
    width: 225px;
    height: 52px;
    margin-left: -100px;
    margin-top: 80px;
    border-radius: 10px;

}
