.kotak2a{
    box-sizing: border-box;
    box-shadow: 4px 4px 24px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 445px;
    height: 445px;
    margin-left: 300px;
    margin-top: 123px;
}
.pos1{
    width: 190px;
    height: 29px;
    margin-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
    font-family:  'Montserrat' sans-serif;
    color: #000000;
}
#a12a{
    width: 30px;
    height: 30px;
    margin-left: 350px;
    margin-top: -50px;
}
.hr{
    margin-top: 60px;
}
.ide1{
    width: 408px;
    height: 84px;
    margin-left: 20px;
    color: #203758;
    font-family: 'Montserrat' sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
}

#a13{
     width: 400px;
    height: 130px;
    margin-top: 10px;
    margin-left: 20px;
}
.btn1{
    width: 225px;
    height: 52px;
    margin-left: 80px;
    margin-top: 50px;
    border-radius: 10px;
}
