.badan{
    width: 1440px;
    height: 870px;
    margin-top: 20px;
    opacity: 60%;
    background-color: #F1F2F6;

}
#a14{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 350px;
    padding-top: -10px;
}
.person{
    width: 181px;
    height: 19px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 90px;
    margin-left: 450px;
    color: #203758;
}
#a15{
    position: absolute;
    width: 68px;
    height: 13px;
    font-size: 11px;
    text-align: center;
    font-family: 'Montserrat' sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #F36E39;
    margin-left: 100px;
    
}
#a16{
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 200px;
    margin-top: 5px;
}
.posting{
    position: absolute;
    width: 100px;
    height: 18px;
    top: 150px;
    margin-left: 530px;
    font-family: 'Montserrat' sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #203758;
}
#a17{
    position: absolute;
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #203758;
    margin-left: 5px;
 } 
.pengikut{
    width: 100px;
    height: 18px;
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    margin-top: -90px;
    margin-left: 630px;
    font-weight: bold;
    font-size: 15px;
    color: #203758;
}
#a18{
    font-weight: 500;
}
.mengikuti{
    position: absolute;
    width: 100px;
    height: 18px;
    top: 153px;
    left: 740px;
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #203758;
}
#a19{
    font-weight: 500;
}
.kepribadian{
    position: absolute;
    width: 443px;
    height: 77px;
    font-weight: normal;
    font-size: 14px;
    font-family:Montserrat sans-serif;
    left: 530px;
    top: 200px;
    color: #000000;
}
.boxa{
    box-sizing: border-box;
    width: 622px;
    height: 55px;
    border-radius: 8px;
    border: 1.5px solid #F1F2F6;
    margin-top: 80px;
    background-color: #ffffff;
    margin-left: 350px;
}
.text1a{
    position: absolute;
    width: 227px;
    height: 18px;
    font-size: 15px;
    font-family:Montserrat sans-serif;
    margin-top: 20px; 
    margin-left: 170px; 
    font-weight: normal;  
    color: #788292;
}
#d{
    position: absolute;
    width: 27px;
    height: 27px;
    margin-left: 190px;
    margin-top: -10px;
}
.boxb{
    width: 622px;
    height: 202px;
    box-sizing: border-box;
    border: 1.5px solid #F1F2F6;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-left: 350px;
}
#a20{
    width: 50px;
    height: 52px;
    margin-top: 10px;
    margin-left: 20px;
}
.profile1{
    width: 99px;
    height: 19px;
    font-family: 'Montserrat' sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    left: 440px;
    margin-top: 50px;
    color: #203758;
}
#a21{
    position: absolute;
    width: 18px;
    height:5px;
    opacity: 0.4;
    margin-left: 380px;
}
.waktu{
    position: absolute;
    width: 67px;
    height: 14px;
    font-size: 11px;
    font-weight: normal;
    margin-top: -20px;
    margin-left: 90px;
    color: #788292;
}
#a22{
    position: absolute;
    width: 12px;
    height: 12px;
    margin-top: 60px;
    margin-left: 300px;
}
#a23{
    position: absolute;
    width: 50px;
    height: 13px;
    font-size: 11px;
    font-weight: 500;
    margin-top: 60px;
    margin-left: 320px;
}
#a24{
    position: absolute;
    width: 12px;
    height: 12px;
    margin-top: 80px;
    margin-left: 300px;
}
#a25{
    position: absolute;
    width: 65px;
    height: 13px;
    font-size: 11px;
    font-weight: 500;
    margin-top: 80px;
    margin-left: 320px;
}
.p1{
    position: absolute;
    width: 561px;
    height: 46px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin-top: 40px;
    margin-left: 20px;
    text-align: left;
}
#a26{
    position:absolute;
    width: 26px;
    height: 27px;
    opacity: 0.4;
    margin-top: 150px;
    margin-left: 250px;
}
#a27{
    position:absolute;
    width: 26px;
    height: 27px;
    opacity: 0.4;
    margin-top: 150px;
    margin-left: 300px;
}
#a28{
    position:absolute;
    width: 26px;
    height: 27px;
    opacity: 0.4;
    margin-top: 150px;
    margin-left: 350px;
}
.boxc{
    width: 622px;
    height: 425px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1.5px solid #F1F2F6;
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-left: 350px;
}
#a29{
    width: 50px;
    height: 52px;
    margin-top: 10px;
    margin-left: 30px;
}
.profile1a{
    width: 99px;
    height: 19px;
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    margin-left: 380px;
    margin-top: 570px;
    color: #203758;
}
#a30{
    width: 18px;
    height:5px;
    opacity: 0.4;
    margin-left: 450px;
    margin-top: -10px;
}
.waktu2{
    position: absolute;
    width: 100px;
    height: 14px;
    font-size: 11px;
    font-weight: normal;
    margin-top: -20px;
    margin-left: 110px;
    color: #788292;
}
.p2{
    width: 553px;
    height: 24px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Montserrat' sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}
#warna{
    color: orangered;
}
#a31{
    margin-top: 10px;
    width: 550px;
    height:200px;
    margin-left: 30px;
}
