.latar{
    position: absolute;
    width: 1440px;
    height: 870px;
    margin-top: 30px;
    opacity: 0.6;
    background-color: #F1F2F6;
}
#a34{
    position: absolute;
    width:150px;
    height: 150px;
    margin-top: 20px;
    margin-left: -380px;
}
.person{
    position: absolute;
    width:181px;
    height: 19px;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    font-family: Montserrat sans-serif;
    margin-top: 15px;
    color: #203758;
}
#a35{
    position: absolute;
    width: 105px;
    border-radius: 6px;
    background-color: #F0F7FF;
    height: 31px;
    font-size: 10px;
    color: #F36E39;
    font-style: normal;
    font-weight: normal;
    margin-left: 30px;
}
.posting{
    position: absolute;
    width: 74px;
    height: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #203758;
    margin-top: 50px;
    margin-left: 470px;
}
#a36{
    position: absolute;
    width: 74px;
    height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin-left: -10px;
}
.pengikut{
    position: absolute;
    width: 98px;
    height: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #203758;
    margin-top: 50px;
    margin-left: 540px;
}
#a37{
    position: absolute;
    width: 74px;
    height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin-left: 1px;
}
.mengikuti{
    position: absolute;
    width: 91px;
    height: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #203758;
    margin-top: 50px;
    margin-left: 650px;
}
#a38{
    position: absolute;
    width: 74px;
    height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}
.pribadi{
    position: absolute;
    width: 443px;
    height: 77px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 187.4%;
    color: #000000;
    margin-top: 110px;
    margin-left: 420px;
}
.profiltmn1{
    position: absolute;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1.5px solid #F1F2F6;
    width: 622px;
    height: 202px;
    background-color: #FFFFFF;
    margin-top: 200px;
    margin-left:330px;
}
#a39{
    position: absolute;
    width: 50px;
    height: 53px;
    margin-top:10px;
    margin-left: -280px;
}
.profile1{
    position: absolute;
    width: 93px;
    height: 18.74px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #203758;
}
#a40{
    position: absolute;
    width: 18px;
    height: 4.16px;
    opacity: 0.4;
    margin-left: 400px;
    margin-top: 10px;
}
.waktu1{
    position: absolute;
    width: 67px;
    height: 13.54px;
    font-family: Montserrat sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #788292;
    margin-top: 10px;
    margin-left: 60px;
}
.status1{
    position: absolute;
    width: 561px;
    height: 45.81px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 187.4%;
    color: #203758;
    text-align: left;
    margin-top: 80px;
    margin-left: 30px;
}
#a41{
    position:absolute;
    width: 26px;
    height: 27px;
    opacity: 0.4;
    margin-top: 150px;
    margin-left: 80px;
}
#a42{
    position:absolute;
    width: 26px;
    height: 27px;
    opacity: 0.4;
    margin-top: 150px;
    margin-left: 130px;
}
#a43{
    position:absolute;
    width: 26px;
    height: 27px;
    opacity: 0.4;
    margin-top: 150px;
    margin-left: 180px;
}
.profiltmn2{
    position: absolute;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1.5px solid #F1F2F6;
    width: 622px;
    height: 424px;
    background-color: #FFFFFF;
    margin-top: 425px;
    margin-left:330px;
}
#a44{
    position: absolute;
    width: 50px;
    height: 53px;
    margin-top:10px;
    margin-left: -280px;
}
.profile1_1{
    position: absolute;
    width: 93px;
    height: 18.74px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #203758;
}
#a45{
    position: absolute;
    width: 18px;
    height: 4.16px;
    opacity: 0.4;
    margin-left: 400px;
    margin-top: 10px;
}
.waktu1_1{
    position: absolute;
    width: 93px;
    height: 13.54px;
    font-family: Montserrat sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #788292;
    margin-top: 10px;
    margin-left: 50px;
}
.profil1_2{
    position: absolute;
    width: 553px;
    height: 24px;
    font-family: Montserrat sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 187.4%;
    color: #203758;
    margin-top: 80px;
    margin-left: -60px;
}
#warna1{
    color: orangered;
}
#a46{
    position: absolute;
    width: 563px;
    height: 275px;
    border: 1.5px solid #F1F2F6;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: -290px;
    margin-top: 120px;

}


