.container-fluid{
    width:100%;
    height:100%;
    opacity: 60%;
    background-color: #F1F2F6;
}
.utama {
    width: 297px;
    margin-left: 280px;
    margin-top: 200px;
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-size: 64px;
    line-height: 78px;
    color: #F36E39;
}

.text{
    position: absolute;
    width: 400px;
    height: 69px;
    left: 250px;
    margin-top: 40px;
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
}

.box-login{
    box-sizing: border-box;
    border: 1px solid black;
    width:445px;
    height: 317px;
    margin-top: -100px;
    margin-left: 700px;
    border-radius:10px;
    padding: 20px;
    background-color: #FFFFFF;
}
.form-group{
    box-sizing: border-box;
    border-radius: 30px;
    margin-top: -30px;
    margin-left: 5px;
    width: 400px;
   
}


.btn1{
    width: 400px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    background-color: #F36E39;
}
.btn2{
    width: 150px;
    height: 40px;
    margin-left: 120px;
    margin-top: 10px;
    color: white;
    background-color: #23BE7E;
    
}
#garis{
    border: 1px solid #788292;
    margin-top: 70px;
    margin-left: 10px;
     
} 
@media screen and (max-width: 500px) {
    .container-fluid{
        width: 480px;
        height: 874px;
        background-color: #FFFFFF;
    }
    .utama{
        width: 480px;
        height: 78px;
        font-family: 'Montserrat' sans-serif ;
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        line-height: 78px;
        text-align: center;
        color: #F36E39;
        margin-left: 50px;
        margin-top: 120px;
    }
    .text{
        width: 450px;
        height: 50px;
        display: flex;
        font-family: 'Montserrat' sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-left: -170px;
    }
    .box-login{
        width: 450px;
        height: 317px;
        background-color: #FFFFFF;
        border-radius: 10px;
        margin-left: 80px;
        margin-top: 150px;
    }
    


}